node_modules
dist
.parcel-cache
controller.12d3ab3e.js
controller.12d3ab3e.js.map
favicon.f1877f87.png
forkify-architecture-recipe-loading.png
forkify-flowchart-part-1.png	forkify-flowchart-part-2.png
forkify-flowchart-part-3.png
icons.c781f215.svg
forkify-flowchart-part-1.png
forkify-flowchart-part-2.png	
